
.content {
    display: flex;
    overflow-x: hidden;
}

.image {
    width: 50%;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(50vw + 40px);
    padding: 0 20px;

}

.signH1{
    font-size: 36px;
    font-family: Inter, serif;
    font-weight: 700;
    margin-bottom: 48px;
}

.nameBox{
    display: flex;
    gap: 16px;
}

.nameBox .input {
    width: calc(25vw - 8px);
}

.label{
    display: block;
    font-size: 12px;
    font-family: Inter, serif;
    font-weight: 400;
    margin-bottom: 8px;
}

.test{

}

.input{
    display: block;
    height: 46px;
    width: 50vw;
    padding-left: 16px;
    margin-bottom: 24px;
    border: 1px solid #354352;
    border-radius: 3px;
    opacity: 0.30000001192092896;
}

.submit{
    height: 52px;
    width: 50vw;
    margin:16px 0 32px;
    border-radius: 3px;
    background-color: #5382E7;
    border: none;
    color: #fff;
}

@media (width < 830px) {
    .image{
        display: none;
    }
    .form{
        height: 100vh;
        width: 100%;
    }
    .nameBox .input{
        width: 48vw;
    }
    .input{
        width: 98vw;
    }
    .submit{
        width: 98vw;
    }
}

@media (width < 430px) {
    .form{
        box-sizing: border-box;
    }
    .nameBox{
        flex-direction: column;
        gap: 0;
        width: 100vw;
    }
    .nameBox .input {
        width: 99vw;
    }
}
@media (width <370px) {
    .nameBox{
        gap: 0;
    }
    .signH1 {
        text-align: center;
    }
}