.head{
    height: 54px;
    background: #2B3844;
    border-radius: 3px;
}
.content{
    position: relative;
    padding: 0 50px;
}
.content_{
    width: clamp(375px, 1187px, 1300px)
}
.edit:hover{
    cursor: pointer;
}
.sell{
    width: 53px;
    height: 28px;
    border-radius: 3px;
    background-color: rgba(83, 130, 231, 0.1 );
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5382E7;
    cursor: pointer;
}
.sell:hover{
    animation: rotate .3s 0s linear;
}
@keyframes rotate {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }

}
.threebuttons {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.delete{
    margin-left: 6px;
    cursor: pointer;
}
.delete:hover{
    animation: delete .4s 0s 2 alternate  ;
}
@keyframes delete {
    from {
        border-radius: 3px;
        transform: scale(1);
    }
    to {
        transform: scale(2);


    }
}

.row:nth-child(even){
    background-color: white;
    border: 1px solid #F8F8F8;
}
.row:nth-child(odd){
    background-color: #F8F8F8;
}

@media (width < 1550px){
    .content{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media (width < 1300px){
    .content_{
        overflow-x: auto;
    }
}
@media (width < 800px){
    .content_{
        padding-top: 150px;
    }
}


