.content {
    padding-bottom: 20px;
    width: 100%;
}


.input{
    display: block;
    height: 46px;
    width: 100%;
    padding-left: 16px;
    margin-top: 5px;
    border: 1px solid #354352;
    border-radius: 3px;
}

label{
    font-family: Inter, serif;
    font-size: 14px;

}

.error {
    color: red;
    font-size: 13px;
    padding-left: 5px;
}
.sucess{
    display: none;
}


@media (width < 430px) {
    .content{
        padding-bottom: 0;
    }
    .signH1{
        margin-bottom: 20px;
    }
    .input {
        height: 35px;
        margin-bottom: 8px;
    }
    .submit {
        height: 35px;
    }
}
